body{background:#232323; color:#fff;}
header{background:#121212; color:white; margin-bottom:40px; padding:20px 0px;}
.menu {text-align:right;}
.menu ul li {display:inline-block; margin:20px; color:#34D856;}
.portada {width:200px;}
.bloque{display:inline-block; border:1px solid #121212; margin:5px; padding:5px; color:white;}